.link {
    transition: all 0.2s;
    cursor: pointer;
}

.link a {
    color: #000;

    display: flex;
    align-items: center;
    gap: 1rem;
}

a.active {
    box-shadow:0px 0px 100px 0px inset #fff;
}

.link:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    transition: all 0.2s;
}
